<h1>About#me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "Profile.PNG", width: 300, alt: "profile image" %>
  </div>
  
  <div class="col-md-8">
    <p>I used to be an athlete. I sit next to Thomo in coding which is pretty cool. He is so beast!</p>
  </div>
</div>